.clock {
    position: relative;
    width: 300px;
    height: 300px;
    border: 5px solid #0288d1;
    border-radius: 50%;
    margin: auto;
    background: #ffffff;
}

.clock-numbers {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-number {
    position: absolute;
    font-size: 1.2em;
    font-weight: bold;
    color: #01579b;
    transform-origin: center center;
    text-align: center;
}

.hand {
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: #0277bd;
    top: 50%;
    left: 50%;
    transform-origin: 0 50%;
    transform: rotate(0deg);
    transition: transform 0.05s ease-in-out;
}

.hour-hand {
    height: 4px;
    width: 35%;
    background-color: #01579b;
}

.minute-hand {
    height: 3px;
    width: 45%;
    background: #0277bd;
}

.second-hand {
    height: 2px;
    width: 50%;
    background-color: #03a9f4;
}

.center-dot {
    width: 10px;
    height: 10px;
    background-color: #01579b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.timer-controls {
    text-align: center;
    margin-top: 20px;
}

.timer-controls button {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: #0288d1;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.timer-controls button:hover {
    background-color: #0277bd;
}