:root {
    --primary-color: #6c63ff;
    --secondary-color: #A89CFF;
    --text-color-light: #333;
    --text-color-dark: #fff;
    --bg-light: #f4f4f9;
    --bg-dark: #222;
    --card-bg-light: #fff;
    --card-bg-dark: #333;
    --shadow-light: rgba(0, 0, 0, 0.1);
    --shadow-dark: rgba(255, 255, 255, 0.1);
    --border-radius: 10px;
    --transition: all 0.3s ease-in-out;
  }

.help-center {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.faq-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.category {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--text-color-dark);
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: bold;
    transition: var(--transition);
    box-shadow: 0 2px 5px var(--shadow-light);
    text-align: center;
}

.category:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

.category.active {
    background-color: var(--secondary-color);
    box-shadow: 0 3px 6px var(--shadow-light);
}

.faq-content {
    background: var(--card-bg-light);
    color: var(--text-color-light);
    padding: 15px;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 5px var(--shadow-light);
    transition: var(--transition);
}

.faq-content h2 {
    margin-top: 0;
    font-size: 1.5rem;
    color: var(--primary-color);
    text-align: center;
}

.faq-content ul {
    list-style: none;
    padding: 0;
}

.faq-content li {
    margin-bottom: 15px;
    padding: 10px;
    background: var(--bg-light);
    border-radius: 5px;
    box-shadow: 0 1px 3px var(--shadow-light);
    transition: var(--transition);
}

.faq-content li:hover {
    background: var(--secondary-color);
    color: var(--text-color-dark);
    transform: translateX(5px);
}

.no-results {
    text-align: center;
    margin: 20px 0;
    font-size: 1.2em;
    color: var(--text-color-light);
}



.help-center.dark .no-results {
    color: var(--text-dark, #fff);
}