.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0288d1;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 1.2em;
    position: sticky;
    top: 0;
    z-index: 10000;
}

.navbar .logo {
    font-size: 1.5em;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.logo-image {
    height: 50px;
    width: auto;
    cursor: pointer;
}

.navbar .menu {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.navbar menu li {
    display: inline;
}

.navbar .menu a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease-in-out;
}

.navbar .menu a:hover {
    color: #b3e5fc;
}

.navbar .menu a.active {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 2px;
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar .menu {
        flex-direction: column;
        gap: 10px;
    }
}

/* .app.light .navbar { */
    background-color: #b3d9ff;
    color: #003366;
/* } */

/* .app.dark .navbar { */
    background-color: #003366;
    color: #cce7ff;
/* } */